body {
    background-image: url('https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png');
    background-size: auto; 
  }
#temporizador {
  width: 400px;
  height: 150px;
  font-size: 100px;

}
#numeros{
  border: 2px solid rgb(5, 0, 0) ;
  margin: 3px;
}